@import "../../../vars/font.variables.scss";
@import "../../../vars/colors.variables.scss";
.input {
    width: 100%;
    padding: 3.5px 11px;
    font-size: $sizeMd;
    background-color: transparent;
}
  
.error{
    color: red;
}
.input-form{
    border: 2px solid $black;
    border-radius: 5px;
}